{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome Page</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'movie_web/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'movie_web/bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'movie_web/bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'movie_web/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'movie_web/dist/css/skins/skin-blue.min.css' %}">
  <!--[if lt IE 9]>
  <script src="{% static 'movie_web/local/js/html5shiv.min.js' %}"></script>
  <script src="{% static 'movie_web/local/js/respond.min.js' %}"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="{% static 'movie_web/local/css/google_fonts.css' %}">
</head>
<body background="{% static 'movie_web/welcome.jpeg' %}">
<div class="login-box">
  <div class="login-logo">
    <b>Welcome to MovieHub</b>
  </div>
  <!-- /.login-logo -->
  <div class="box-body">
      <div>
          <b style="margin: 80px">Please choose your role</b>
          </br>
           </br>
      </div>

      <div class="row">
        <div class="col-xs-12">
         <a href="{% url 'customer_load_login' %}">
            <button type="button" class="btn btn-primary" style="width:100px">Customer</button>
          </a>
          <a href="{% url 'staff_load_login' %}">
            <button type="button" class="btn btn-primary" style="width:100px">Staff</button>
          </a>
          <a href="{% url 'admin_load_login' %}">
            <button type="button" class="btn btn-primary" style="width:100px">Admin</button>
          </a>
        </div>
        <!-- /.col -->
      </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{% static 'movie_web/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'movie_web/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>