{% extends 'my_staff/base.html' %}

{% block main_body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Release Information Management
    </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Release List &nbsp;&nbsp;
                    </h3>

                    <div class="box-tools">
                        <form action="{% url 'staff_manage_index' 1 %}" method="get">
                            <div class="input-group input-group-sm" style="width:200px;">
                                <input type="text" name="keyword" class="form-control pull-right" placeholder="movie name">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Release ID</th>
                            <th>Movie ID</th>
                            <th>Movie Name</th>
                            <th>Room Id</th>
                            <th>Release Time</th>
                            <th>Price</th>
                            <th>Is Delete</th>
                            <th>Edit</th>
                        </tr>
                        {% for vo in releaseList %}
                        <tr>
                            <td onclick="doc({{ vo.release_id}})" >{{ vo.release_id }}</td>
                            <td> {{ vo.movie_id }}</td>
                            <td >{{ vo.movie_name }}</td>
                            <td>{{ vo.room_id }}</td>
                            <td>{{ vo.release_time }}</td>
                            <td>{{ vo.price }}</td>
                            <td>{{ vo.is_delete }}</td>
                            <td>
                                <a type="button" href="{% url 'staff_manage_edit' vo.release_id %}" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit</a>
                                {% if request.session.staffuser.level == 1 %}
                                    <button type="button" onclick="doDel('{% url 'staff_manage_delete' vo.release_id %}')" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>delete</button>
                                {% elif request.session.staffuser.level == 0 %}
                                    <button type="button" onclick="doDel('{% url 'staff_manage_delete' vo.release_id %}')" class="btn btn-danger btn-xs" disabled>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>delete</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="{% url 'staff_manage_index' pIndex|add:-1 %}?{{condition|join:'&'}}">&laquo;</a></li>
                        {% for p in pageNum %}
                        <li {% if p == pIndex %}class="active"{% endif %}><a href="{% url 'staff_manage_index' p %}?{{condition|join:'&'}}">{{ p }}</a></li>
                        {% endfor %}

                        <li><a href="{% url 'staff_manage_index' pIndex|add:1 %}?{{condition|join:'&'}}">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>
<!-- /.content -->
{% endblock %}
