{% extends "my_admin/base.html" %}

{% block main_body %}<!-- Content Header (Page header) -->
<section class="content-header">
      <h1>
        Edit Info
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <h2 class="box-title"> Type Edited Info</h2>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% url 'admin_staff_update' %}" method="post" onsubmit="return checkFrom()">
                {% csrf_token %}

                 <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Staff Id:</label>
                         <div class="col-sm-4">
                         <input type="text" name="staffId" class="form-control" id="staffId" value="{{ staff.staff_id }}" readonly="true">
                             <small class="error-message" style="color: red"></small>
                         </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Password:</label>
                         <div class="col-sm-4">
                         <input type="text" name="password" class="form-control" id="password" placeholder="keep empty means not chane password">
                             <small class="error-message" style="color: red"></small>
                         </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name:</label>
                  <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" id="name" value="{{ staff.name }}" >
                      <small class="error-message" style="color: red"></small>
                  </div>
                </div>



            <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Level:</label>

                  <div class="col-sm-4">
                    <select class="form-control" name="level" >
                         {% if staff.level == 0 %}
                             <option selected="selected" value="staff">Staff</option>
                             <option value="manager">Manager</option>
                             <option value="admin">Admin</option>
                         {% elif staff.level == 1 %}
                             <option value="staff">Staff</option>
                             <option selected="selected" value="manager">Manager</option>
                             <option value="admin">Admin</option>
                          {% elif staff.level == 2 %}
                             <option value="staff">Staff</option>
                             <option value="manager">Manager</option>
                             <option selected="selected" value="admin">Admin</option>
                        {% endif %}
                    </select>

                  </div>
                </div>


              <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Phone:</label>
                  <div class="col-sm-4">
                    <input type="text" name="phone" class="form-control" id="phone" value="{{ staff.phone }}" >
                      <small class="error-message" style="color: red"></small>
                  </div>
                </div>

                   <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>

                  <div class="col-sm-4">
                    <input type="text" name="email"  class="form-control" id="email" value="{{ staff.email }}">
                      <small class="error-message" style="color: red"></small>
                  </div>
                </div>


              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" >update</button> &nbsp;&nbsp;&nbsp;
                    <a type="button" href="{% url 'admin_staff_index' 1 %}" class="btn btn-primary">Back</a>
                </div>
              </div>

              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
            <script>
                const password = document.getElementById("password")
                const name = document.getElementById("name")
                const phone = document.getElementById("phone")
                const email = document.getElementById("email")
                function checkFrom(){
                    const passwordValue = password.value.trim()
                    const nameValue = name.value.trim();
                    const phoneValue = phone.value;
                    const emailValue = email.value.trim();
                    const err = [];

                    if(passwordValue.length > 0 && passwordValue.length < 8){
                        err.push("error")
                        setError(password,"the length of password must be larger than 8 characters")
                    }else {
                        removeError(password)
                    }

                    if (nameValue == ""){
                        setError(name,"the name cannot be empty")
                        err.push("error")
                    }else if(nameValue.length > 20){
                        err.push("error")
                        setError(name,"the length of name must be less than 20 characters")
                    }else {
                        removeError(name)
                    }

                    if (!isNumber(phoneValue)) {
                        err.push("error")
                        setError(phone, "the phone must be number")
                    }else {
                        removeError(phone)
                    }

                    if ( !isValidEmail(emailValue)) {
                        err.push("error")
                        setError(email, "the format of email is wrong")
                    }else {
                        removeError(email)
                    }

                    if (err.length > 0) {
                        return false
                    }
                    return true
                }

                function isNumber(element){
                     let regPos = /^[0-9]*[1-9][0-9]*$/;
                    if(regPos.test(element) ){
                        return true;
                    }else{
                        return false;
                    }
                }

                function isValidEmail(email){
                    let regPos = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
                    if(regPos.test(email) ){
                        return true;
                    }else{
                        return false;
                    }
                }

                function setError(element,msg){
                    const element_par = element.parentElement;
                    const errMsg = element_par.querySelector('.error-message');
                    errMsg.textContent = msg
                }

                function removeError(element){
                   const element_par = element.parentElement;
                   const errMsg = element_par.querySelector('.error-message');
                   errMsg.textContent = ' '
                }
            </script>
        </div>
      </div>
    </section>

{% endblock %}